<div class="header__row header__row--3">
  <div class="header__body _container">
    <div class="header__banner banner">
      <div class="banner__row banner__row--top">
        <a href="tel:+{{ site.tel1 }}">
          <svg width="65" height="60" viewBox="0 0 154 138">
            <use xlink:href="/img/sprite/sprite-big.svg#click-to-call"></use>
          </svg>
        </a>
        <a href="https://mssg.me/r/m/5d9e2a3c5d71640037371ea0">
          <svg width="137" height="60" viewBox="0 0 294 138">
            <use xlink:href="/img/sprite/sprite-big.svg#click-to-viber"></use>
          </svg>
        </a>
      </div>
      <div class="banner__row banner__row--bottom">
        <a href="tel:+{{ site.tel1 }}">
          <svg>
            <use xlink:href="/img/sprite/sprite-big.svg#vodafone-logo"></use>
          </svg>
          <span>+{{ site.tel1-format }}</span>
        </a>
        <a href="tel:+{{ site.tel2 }}">
            <svg>
                <use xlink:href="/img/sprite/sprite-big.svg#ks-logo"></use>
            </svg>
          <span>+{{ site.tel2-format }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
