<footer class="footer">
    <div class="footer__body _container">
        <div class="footer__col footer__col--logo">
            <a class="footer__logo" href="/">
                <svg viewBox="0 0 215 53">
                    <use xlink:href="/img/sprite/sprite-big.svg#logo"></use>
                </svg>
            </a>
        </div>
        <div class="footer__col footer__col--social">
            <div class="footer__social social">
                <div class="social__body">
                    <div class="social__item">
                        <a href="https://wa.me/380989919293">
                            <svg>
                                <use xlink:href="/img/sprite/sprite-big.svg#whatsapp-icon"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="https://mssg.me/r/m/5d9e2a3c5d71640037371ea0">
                            <svg>
                                <use xlink:href="/img/sprite/sprite-big.svg#viber-icon"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="https://m.me/rodynne.com.ua">
                            <svg>
                                <use xlink:href="/img/sprite/sprite-big.svg#fbmess-icon"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="tel:+{{ site.tel1 }}">
                            <svg>
                                <use xlink:href="/img/sprite/sprite-big.svg#call-icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__col footer__col--address">
            <address class="footer__address">
                <div class="footer__address-item">
                    <span class="footer__address-item-title">Локация 1</span>
                    <span>Тернопольская обл.</span>
                    <span>с.Белая</span>
                    <span> ул.Надежды, 6</span>
                    <span class="footer__address-distance">(*4км до центра Тернополя)</span>
                </div>
                <div class="footer__address-item">
                    <span class="footer__address-item-title">Локация 2</span>
                    <span>Тернопольская обл.</span>
                    <span>с.Байковцы</span>
                    <span>ул.Наливайка, 6</span>
                    <span class="footer__address-distance">(*6км до центра Тернополя)</span>
                </div>
                <div class="footer__phones-wpapper">
                    <a href="tel:+{{ site.tel1 }}">+{{ site.tel1-format }}</a>
                    <a href="tel:+{{ site.tel2 }}">+{{ site.tel2-format }}</a>
                </div>
            </address>
        </div>
        <div class="footer__col footer__col--cities">
            <div class="footer__cities cities">
                <div class="cities__title">
                    <p>Дома престарелых "Родинне тепло" в других городах:</p>
                </div>
                <ul class="cities__list">
                    <li><a href="https://rodynne.com.ua/ru/">Львов</a></li>
                    <li><a href="https://rivne.rodynne.com.ua/ru/">Ровно</a></li>
                    <li><a href="https://kyiv.rodynne.com.ua/ru/">Киев</a></li>
                    <li><a href="https://hmel.rodynne.com.ua/ru/">Хмельницкий</a></li>
                    <li><a href="https://uz.rodynne.com.ua/ru/">Ужгород</a></li>
                    <li><a href="https://cv.rodynne.com.ua/ru/">Черновцы</a></li>
                    <li><a href="https://zt.rodynne.com.ua/ru/">Житомир</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
