<header class="header">
    <div class="header__row header__row--1">
        <div class="header__body _container">
            <a class="header__logo" href="/">
                <svg>
                    <use xlink:href="/img/sprite/sprite-big.svg#logo"></use>
                </svg>
            </a>
            <div class="header__menu menu">
                <div class="menu__icon menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li>
                            <a {% if page.url== '/ru/' %}class="_active"{% endif %} href="/ru/" data-title="главная
                            страница">
                            <span>главная страница</span>
                            </a>
                        </li>
                        <li>
                            <a {% if page.url== '/ru/foto-pansionatu/' %}class="_active"{% endif %}
                            href="/ru/foto-pansionatu/" data-title="фото пансионата">
                            <span>фото пансионата</span>
                            </a>
                        </li>
                        <li>
                            <a {% if page.url== '/ru/vidhuky/' %}class="_active"{% endif %} href="/ru/vidhuky/"
                            data-title="отзывы">
                            <span>отзывы</span>
                            </a>
                        </li>
                        <li>
                            <a {% if page.url== '/ru/faqs/' %}class="_active"{% endif %} href="/ru/faqs/"
                            data-title="частые вопросы">
                            <span>частые вопросы</span>
                            </a>
                        </li>
                        <li>
                            <a {% if page.url== '/ru/contacts/' %}class="_active"{% endif %} href="/ru/contacts/"
                            data-title="как нас найти">
                            <span>как нас найти</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__social social">
                <div class="social__img">
                    <svg viewBox="0 0 640 480">
                        <use xlink:href="/img/sprite/sprite-big.svg#all-icons"></use>
                    </svg>
                </div>
                <div class="social__body">
                    <div class="social__item">
                        <a href="https://wa.me/380989919293">
                            <svg class="social__item">
                                <use class="social__item" xlink:href="/img/sprite/sprite-big.svg#whatsapp-icon"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="tel:+{{ site.tel1 }}">
                            <svg class="social__item">
                                <use class="social__item" xlink:href="/img/sprite/sprite-big.svg#call-icon"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="https://m.me/rodynne.com.ua">
                            <svg class="social__item">
                                <use class="social__item" xlink:href="/img/sprite/sprite-big.svg#fbmess-icon"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="social__item">
                        <a href="https://mssg.me/r/m/5d9e2a3c5d71640037371ea0">
                            <svg class="social__item">
                                <use class="social__item" xlink:href="/img/sprite/sprite-big.svg#viber-icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__row header__row--2">
        <div class="header__body _container">
            <div class="header__settings">
                <div class="header__language language">
                    <ul class="language__list">
                        <li>
                            <a id="btnUa">UA</a>
                        </li>
                        <li>
                            <a id="btnRu" class="_active">RU</a>
                        </li>
                    </ul>
                </div>
                <div class="header__city city">
                    <div class="city__current">
                        <div class="city__icon">
                            <svg viewBox="0 0 32 32">
                                <use xlink:href="/img/sprite/sprite-big.svg#location"></use>
                            </svg>
                        </div>
                        <span></span>
                        <div class="city__arrow">
                            <svg viewBox="0 0 256 512">
                                <use xlink:href="/img/sprite/sprite-big.svg#angle-right"></use>
                            </svg>
                        </div>
                    </div>
                    <ul class="city__list">
                        <li>
                            <a href="https://cv.rodynne.com.ua/ru/">Черновцы</a>
                        </li>
                        <li>
                            <a href="https://rodynne.com.ua/ru/">Львов</a>
                        </li>
                        <li>
                            <a href="https://uz.rodynne.com.ua/ru/">Ужгород</a>
                        </li>
                        <li>
                            <a class="_active" href="https://te.rodynne.com.ua/ru/">Тернополь</a>
                        </li>
                        <li>
                            <a href="https://rivne.rodynne.com.ua/ru/">Ровно</a>
                        </li>
                        <li>
                            <a href="https://hmel.rodynne.com.ua/ru/">Хмельницкий</a>
                        </li>
                        <li>
                            <a href="https://kyiv.rodynne.com.ua/ru/">Киев</a>
                        </li>
                        <li>
                            <a  href="http://zt.rodynne.com.ua/ru/">Житомир</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include clicks_to_contacts_header-ru.html %}
    <div class="header__bg">
        <picture>
            <source srcset="/img/header/bg1920.webp"
                    media="(min-width: 768px)"
                    type="image/webp"
            />
            <source srcset="/img/header/bg1920.jpg"
                    media="(min-width: 768px)"
            />
            <source
                    srcset="/img/header/bg480.webp"
                    media="(min-width: 321px)"
                    type="image/webp"
            />
            <source
                    srcset="/img/header/bg480.jpg"
                    media="(min-width: 321px)"
            />
            <source srcset="/img/header/bg320.webp"
                    type="image/webp"
            />
            <img src="/img/header/bg320.jpg"
                 alt="Піклуємось - як удома"
            />
        </picture>
    </div>
</header>
<div class="header__offer header__offer-mobile">
    <a href="/contacts/ru">
        <svg viewBox="0 0 4167 1599">
            <use xlink:href="/img/sprite/sprite-big.svg#2-locations-mob-ru"></use>
        </svg>
    </a>
</div>
